// Imports
@import "partials/variables";
@import "partials/navbar";

// Base styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "arboria", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
  color: $black;
}

html.active {
  overflow: hidden !important;
  height: 100vh !important;
}

// Mixin for responsive container padding
@mixin responsive-container-padding(
  $padding-mobile,
  $padding-tablet,
  $padding-desktop,
  $padding-xl-desktop,
  $padding-big-screen
) {
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $breakpoint-tablet) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $breakpoint-desktop) {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }

  @media (min-width: $breakpoint-xl-desktop) {
    padding-left: $padding-xl-desktop;
    padding-right: $padding-xl-desktop;
  }

  @media (min-width: $breakpoint-big-screen) {
    padding-left: $padding-big-screen;
    padding-right: $padding-big-screen;
  }
}

// Typography

h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
}

h3 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
h4 {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.875rem;
  line-height: 1.4;
  margin-bottom: 5px;
}

.text-info {
  color: $c-info;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.675rem;
}

// Buttons

// Mixin for common button styles
@mixin button-styles {
  border-radius: 84px;
  font-size: 0.675rem;
  text-transform: uppercase;
  background-color: white;
  border: none;
  width: 122px;
  font-weight: 700;
  letter-spacing: 1.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn {
  &--primary {
    @include button-styles;
    &:hover {
      background-color: $c-green-hover;
      color: $c-info;
    }
  }
  &--secondary {
    @include button-styles;
    &:hover {
      background-color: $primary;
      color: $c-info;
    }
  }
}

.btn-circle {
  background: $c-info;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  border: none;
  cursor: pointer;
  &.circle-slide {
    width: 60px;
    height: 60px;
  }
}

.more-arrow {
  display: block;
  width: 100%;
  height: 40px;
  position: relative;
  margin-top: auto;
  &::before {
    content: "WIĘCEJ";
    position: absolute;
    top: 50%;
    right: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    padding-right: 20px;
    transform: translateY(-50%);
  }
  &::after {
    content: "";
    position: absolute;
    background-color: $black;
    width: 12px;
    height: 12px;
    transition: all 0.3s ease-in-out;
    top: 55%;
    right: 2px;
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-image: url("../images/arrow-more.svg");
    mask-image: url("../images/arrow-more.svg");
    transform: translateY(-50%);
  }
}

// Header

.header {
  background-color: $primary;
  height: 100vh;
  color: white;
  &__box {
    display: none;
    &.box-main {
      display: block;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 64px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: space-around;
    }
  }
  &__container {
    height: 100%;
  }
}

.social-wrapper {
  display: none;
  position: absolute;
  bottom: 67px;
  right: 82px;
  align-items: center;
  column-gap: 17px;
  .social-link {
    width: 26px;
    height: 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      background-color: $white;
      width: 12px;
      height: 12px;
      transition: all 0.3s ease-in-out;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-mask-size: cover;
      mask-size: cover;
    }
    &--insta {
      &::after {
        -webkit-mask-image: url("../images/insta.svg");
        mask-image: url("../images/insta.svg");
      }
    }
    &--fb {
      &::after {
        -webkit-mask-image: url("../images/fb.svg");
        mask-image: url("../images/fb.svg");
      }
    }
    &:hover {
      &::after {
        background-color: $primary;
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
}

.arrow-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  &__text {
    margin-bottom: 30px;
  }
  &:hover {
    .circle-slide {
      transform: translateY(20px);
    }
  }
}

// Offers

.offers {
  padding-top: 30px;
  padding-bottom: 30px;
  @include responsive-container-padding(15px, 30px, 88px, 160px, 260px);
}

.title-space-around {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.title-wrapper {
  margin-bottom: 20px;
  &--position {
    margin-bottom: 5px;
  }
}

.title-link {
  display: flex;
  overflow: hidden;
  align-items: center;
  transition: all 0.3s linear;

  &__arrow {
    color: $black;
    transform: translateY(-29px);
    width: 55px;
    transition: all 0.3s linear;

    rect {
      fill: $black;
    }
  }

  &__text {
    color: $black;
  }

  &:hover & {
    color: $c-info;
    &__text {
      color: $c-info;
    }

    &__arrow {
      transform: translateY(0);

      rect {
        fill: $c-info;
      }
    }
  }
}
.text-line {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 23px;
}

.wrapper-offers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  row-gap: 30px;
  column-gap: 30px;
  list-style: none;
}
.offer {
  border: 1px solid $c-green;
  padding: 15px;
  color: $black;
  padding: 20px 20px;
  transition: all 0.3s ease-in-out;
  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__top {
    display: flex;
    margin-bottom: 20px;
  }
  &__profit {
    color: #007895;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
  }
  &__title {
    flex: 2;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &:hover {
    background-color: $c-green;
    border-radius: 40px;
  }
}

.faq {
  padding-top: 40px;
  padding-bottom: 40px;
  @include responsive-container-padding(15px, 30px, 88px, 160px, 260px);
  h2 {
    color: $white;
  }
}

.accordion-item {
  margin-top: 20px;
  transition: all 0.3s linear;
  cursor: pointer;
  &__text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-size: 1.25rem;
    transition: all 0.3s linear;
  }
  &__title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    transition: all 0.3s linear;
    svg {
      rect {
        transition: all 0.3s linear;
      }
    }
    &:hover {
      svg {
        rect {
          fill: $white;
        }
      }
      .accordion-item__text {
        color: $white;
      }
    }
  }
}

.accordion-container {
  position: relative;
  border: 1px solid $white;
  transition: all 0.4s linear;
  width: 100%;
  margin-bottom: 20px;
  &::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 44%;
    transform: translateY(-50%);
    width: 23px;
    height: 24px;
    -webkit-mask: url("../images/angle-down.svg") no-repeat 50% 50%;
    mask: url("../images/angle-down.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    transition: all 0.4s linear;
    background-color: $white;
  }
  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px 10px;
    text-align: left;
    outline: none;
    color: $white;
    width: 85%;
    font-weight: 700;
    font-size: 0.875rem;
    transition: all 0.4s linear;
  }
  &__panel {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 85%;
  }
  &:hover {
    background-color: $white;
    &:before {
      background-color: $c-green;
    }
    .accordion-container__button {
      color: $black;
    }
  }
  &.active {
    max-height: 500px;
    transition: all 0.4s ease-in;
    background-color: $white;
    padding-bottom: 20px;
    border-radius: 20px;
    .accordion-container__button {
      color: $black;
      &:hover {
        color: $c-green;
      }
    }
    &::before {
      transform: rotate(-180deg);
      background-color: $c-green;
    }
  }
}

// RWD

// breakpoint-xl-mobile
@media (min-width: $breakpoint-xl-mobile) {
  .header {
    &__box {
      &.box-main {
        padding-left: 150px;
        padding-right: 150px;
      }
    }
  }

  .title-space-around {
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
  .title-wrapper {
    margin-bottom: 0px;
    &--position {
      margin-bottom: 10px;
    }
  }
}

// breakpoint-tablet
@media (min-width: $breakpoint-tablet) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.625rem;
  }

  h4 {
    font-size: 1.625rem;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title-link {
    align-items: flex-end;
    height: 62px;
  }

  .text-line {
    margin-bottom: 0;
  }

  .header {
    &__container {
      display: grid;
      grid-template: auto/ 1fr 1fr;
      position: relative;
    }
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 700/454;
    }
    &__box {
      display: block;
      &.box-main {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 50px;
        padding-right: 50px;
      }
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/3;
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &:nth-child(3) {
        grid-column: 2/3;
        grid-row: 1/2;
      }
    }
  }
  .arrow-link {
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    left: 50px;
    &__text {
      margin-bottom: 0;
      margin-right: 50px;
    }
    .circle-slide {
      transform: translateY(-16px);
    }
    &:hover {
      .circle-slide {
        transform: translateY(0);
      }
    }
  }
  .social-wrapper {
    display: flex;
  }
  .title-space-around {
    margin-bottom: 50px;
    justify-content: space-around;
  }
  .offers {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .offer {
    &__profit {
      font-size: 2.875rem;
    }
  }
  .faq {
    padding-top: 70px;
    padding-bottom: 70px;
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  .accordion-wrapper {
    display: flex;
    column-gap: 30px;
  }
  .accordion-item {
    margin-top: 40px;
    &__title {
      margin-bottom: 50px;
      justify-content: end;
    }
    &:nth-child(2) & {
      &__title {
        justify-content: start;
      }
    }
  }
  .accordion-container {
    &__button {
      font-size: 1rem;
    }
  }
}

// breakpoint-desktop
@media (min-width: $breakpoint-desktop) {
  .btn {
    width: 142px;
  }
  .header__container {
    grid-template: 1fr/1fr 1fr 1fr;
  }
  .header {
    &__box {
      &:nth-child(2) {
        grid-row: 1/2;
      }
      &:nth-child(3) {
        grid-column: 3/4;
      }
      &.box-main {
        padding-left: 16px;
        padding-right: 16px;
      }
    }
  }
  .wrapper-offers {
    grid-template-columns: repeat(3, 1fr);
  }
  .arrow-link {
    left: 16px;
  }
  .accordion-wrapper {
    column-gap: 88px;
  }
  .accordion-item {
    margin-top: 70px;
    &__title {
      margin-bottom: 70px;
    }
  }
  .title-space-around {
    margin-bottom: 80px;
  }
}

// breakpoint-xl-desktop
@media (min-width: $breakpoint-xl-desktop) {
  h2 {
    font-size: 4rem;
  }
  .title-link {
    height: 67px;
  }
  h3 {
    font-size: 1.875rem;
  }
  .title-space-around {
    margin-bottom: 129px;
  }
  .header {
    &__box {
      &.box-main {
        padding-left: 69px;
        padding-right: 69px;
      }
    }
  }
  .arrow-link {
    left: 69px;
  }
  .offers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .faq {
    padding-top: 133px;
    padding-bottom: 133px;
    h2 {
      margin-bottom: 64px;
    }
  }
  .accordion-wrapper {
    column-gap: 88px;
  }
  .title-wrapper {
    &--position {
      margin-bottom: 33px;
    }
  }
  .text-line {
    font-size: 1.875rem;
  }
  .title-link {
    &__text {
      margin-bottom: 6px;
    }
  }
  .wrapper-offers {
    row-gap: 50px;
    column-gap: 50px;
  }
  .offer {
    padding: 36px 42px;
  }
  .more-arrow {
    &::before {
      padding-right: 30px;
      font-size: 1.375rem;
    }
    &::after {
      width: 15px;
      height: 15px;
    }
  }
  .accordion-item {
    &__title {
      margin-bottom: 104px;
    }
    &__text {
      font-size: 1.875rem;
    }
  }
  .accordion-container {
    padding: 0 44px;
    margin-bottom: 25px;
    &__button {
      padding: 15px 0;
    }
    &__panel {
      padding: 0;
    }
    &.active {
      padding: 24px 44px 39px;
    }
  }
}

// breakpoint-big-screen
@media (min-width: $breakpoint-big-screen) {
  .btn {
    font-size: 1rem;
    height: 50px;
    width: 200px;
  }
  .accordion-wrapper {
    column-gap: 120px;
  }
}
