// variables for media 
$breakpoint-mobile: 480px;
$breakpoint-xl-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-xl-desktop: 1440px;
$breakpoint-big-screen: 1680px;

// variables
$primary: #F5CDD5;
$secondary: #26BBE1;
$black: #000000;
$white: #ffffff;
$c-info: #944385;
$c-green: #D1E85A;
$c-green-hover: #7FD1BE;

.bg-primary {
  background-color: $secondary;
}

.text-green {
  color: $c-green;
}